:root {
  --mainColor: #333336;
  --secondaryColor: #827c63;
  --textColor: white;
  --maxSize: 1550px;
}

:root.changeTheme {
  --mainColor: #705548;
  --secondaryColor: #6796bd;
  --textColor: white;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.ttf"); /* IE9 Compat Modes */
}

* {
  margin: 0;
  padding: 0;
}

*:focus:not(:focus-visible) {
  outline: none;
}
*:focus-visible {
  outline: ghostwhite dashed 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: calc(16px + 6 * ((100vw - 320px) / 1000));
}

body {
  background-color: var(--mainColor);
  color: var(--textColor);
  line-height: 1.5;
}
