@import url("https://fonts.googleapis.com/css?family=Lato:700|Lato:400");

:root {
  --text: #e7eeed;
  --background: #090c0c;
  --primary: #566976;
  --secondary: #0d0d12;
  --accent: #636688;
  --background-light: #f3f6f6;
  --text-light: #111817;
  --primary-ligth: #899ca9;
  --secondary-light: #ededf2;
  --accent-light: #777a9c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  font-weight: 400;
  color: var(--text-light);
  overflow-x: hidden;
  background-color: var(--background-light);
}

main {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
  font-weight: 700;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /* 16px */

h1 {
  font-size: 5.652rem; /* 67.36px */
  letter-spacing: -1px;
}

h2 {
  font-size: 3.997rem; /* 64px */
}

h3 {
  font-size: 2.827rem; /* 45.28px */
}

h4 {
  font-size: 1.999rem; /* 32px */
}

h5 {
  font-size: 1.414rem; /* 22.56px */
}

small {
  font-size: 0.75rem; /* 12px */
  line-height: 1.5;
}

a {
  word-break: break-all;
}

/*first section related stuff*/
.firstSection {
  background-color: var(--mainColor);
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10vw 80vw 10vw;
  color: var(--text);
  font-size: 1.414rem;
}

.linksContainer {
  grid-row: 1;
  grid-column: 3;
  max-height: 80px;
  justify-self: end;
  display: flex;
  color: var(--text);
}

.promoLinks {
  padding: 15px 10px;
  margin: 1.5vw 0px;
  cursor: pointer;
}

.promoLinks:last-of-type {
  margin-right: 2vw;
}

.gitlabIcon {
  margin: 1.5vw;
  display: block;
  height: 20px;
  padding: 10px;
  grid-row: 1;
}

.icon::before {
  transition: 0.5s;
}

.icon:hover::before {
  transform: scale(1.1);
}

.icon:hover {
  color: var(--accent);
  text-shadow: 0 0 8px var(--accent);
}

.authorInfo {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 5rem;
}

.authorName {
  margin-bottom: 10px;
  line-height: 1.2;
}

.arrow_down {
  position: absolute;
  display: block;
  cursor: pointer;
  pointer-events: auto;
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 50%;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: var(--text);
  border-right-color: var(--text);
  border-radius: 0 0 5px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  margin: 0px 0 1rem 0px;
  z-index: 1000;
  transition: 0.5s;
}

.arrow_down:hover {
  border-bottom-color: var(--accent);
  border-right-color: var(--accent);
}

/* end of first section*/

.secondSection {
  min-height: 97vh;
}

.secondSection-header {
  max-width: calc(1400px + 3rem + 4px);
  width: calc(80vw + 3rem + 4px);
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 2.4vh;
  font-size: 2.827rem;
}

.projectArticle {
  background-color: var(--background-light);
  width: 80vw;
  max-width: 1400px;
  border-radius: 5px;
  margin: 4vh auto;
  padding: 1rem 1.5rem;
  border: 2px solid var(--accent-light);
}

.secondSection .projectArticle:first-of-type {
  margin: 0px auto 4vh auto;
}

.projectArticle > h3 {
  font-size: 1.777rem;
  border-bottom: 2px solid var(--accent-light);
  margin-bottom: 1rem;
}

.projectField {
  display: grid;
  grid-template-columns: 140px auto;
  margin-top: 0.2rem;
  text-align: justify;
}

.projectField-header {
  font-size: 1.333rem; /* 21.28px */
}

.projectField > a {
  align-self: center;
  text-decoration: underline;
  color: dodgerblue;
}

.projectField > a:visited {
  color: dodgerblue;
  filter: brightness(0.45);
}

.projectField > a:focus {
  filter: brightness(1.5);
}

.projectField > a:hover {
  filter: brightness(0.75);
}

.projectField > a:active {
  filter: brightness(1.5);
}

.projectField > p {
  align-self: center;
  line-height: 1.5;
}

.projectField > a:focus-visible {
  outline: var(--mainColor) dashed 2px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }

  .firstSection {
    font-size: 1.999rem;
  }
}
