@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.ttf");
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  all: unset;
}

html {
  font-family: "Inter";
  font-size: 12px;
}

body {
  max-width: 800px;
  margin: auto;
}

.main_section {
  display: block;
  grid-template-areas: "heading content";
  border-top: 2px solid black;
  padding: 16px 0 0 0;
}

.main_section-header {
  padding: 0px 8px;
  font-size: 1.602rem;
  font-weight: bold;
}

.main_section-content {
  padding: 8px 24px;
  text-align: justify;
}

.summary-content {
  padding-bottom: 16px;
}

.personal_section {
  margin-left: -16px;
  border-top: 0px;
}

.personal_content {
  padding-top: 8px;
  padding-bottom: 16px;
}

.personal_article header {
  font-size: 2.202rem;
  margin-bottom: 4px;
}

.personal_article div {
  font-size: 1rem;
}

.personal_article a {
  color: black;
}

.experience_article-header {
  font-weight: bold;
  font-size: 1.424rem;
}

.experience_article-section {
  font-size: 1rem;
  padding-left: 16px;
  padding-top: 8px;
}

.experience_article-section-header {
  font-weight: bold;
  font-size: 1.266rem;
}

.experience_article:not(:first-child)::before {
  content: "";
  display: block;
}

.int_proj-p {
  margin: 0px;
  font-size: 1rem;
}

.technologies_list{
  width: 88%;
}

.technologies_list-item {
  display: inline-block;
  font-size: 1.125rem;
  margin-bottom: 8px;
}

@media (width <= 750px) {
  .main_section {
    grid-template-columns: 100%;
    grid-template-areas:
      "heading"
      "content";
  }

  body {
    padding: 0px;
  }

  .main_section-content {
    padding: 24px 24px;
    padding-top: 0px;
    text-align: justify;
  }
}
